@import "tailwindcss";
@import "tw-animate-css";
@plugin "daisyui";


@source "../**/*.{js,ts,jsx,tsx}";
@source "../../src/**/*.{js,ts,jsx,tsx}";
@source "../../demo//**/*.{js,ts,jsx,tsx}";


@theme {
  /* Custom Brand Tokens */
  --color-brand-50: #eff6ff;
  --color-brand-500: #3b82f6;
  --color-brand-900: #1e3a8a;

  /* Custom Spacing / Border Radius for a modern feel */
  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
}
